.intro{
    color: cyan;
    text-align: center;
    font-size: xxx-large;
}
.h1-custom{
    color: whitesmoke;
}
body{
    background-image: url("https://images.pexels.com/photos/256502/pexels-photo-256502.jpeg");
    background-size: cover;
}
.wrapper{
    display: flex;
    width: auto;
}
.card{
    border: 10px solid aqua;
    padding: 20px;
    background-color: plum;
    text-align: justify;
    margin: 15px;
    width: 500px;
    border-radius: 15px;
}
.card:hover{
    box-shadow: 0 0 30px white;
    transition: box-shadow 150ms ease;
}