.border{
    border: 2px solid;
    width: 500px;
    height: 350px;
    margin: auto;
    border-radius: 15px;
}
p{
    font-size: 20px;
}
label{
    margin: 35px;
    padding-right: 50px;
}
input{
    margin: 15px;
}